* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --gray-900: #141414;
  --gray-800: #1f1f1f;
  --gray-700: #333333;
  --customGreen: #c4f82a;
  --customWhite: #ffffff;
}

body {
  background-color: var(--gray-900);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Card container */
.social-card-container {
  background-color: var(--gray-800);
  width: 24rem;
  padding: 2.5rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Profile image */
.social-profile-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-profile-img {
  width: 5.5rem;
  border-radius: 50%;
}

/* Social user details */
.social-user-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0rem;
  color: var(--customWhite);
}

.social-user-details p {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0rem;
  color: greenyellow;
}

/* User bio */
.user-bio {
  text-align: center;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0rem;
  color: var(--customWhite);
}

/* User links */
.social-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-links li {
  background-color: var(--gray-700);
  border-radius: 0.5rem;
  padding: 0.75rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0rem;
  color: var(--customWhite);
  transition: 0.8s;
}

.social-links a {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0rem;
  color: var(--customWhite);
}

.social-links li:hover {
  background-color: greenyellow;
  color: #1f1f1f;
  cursor: url("../assets/images/handcursor.svg"), auto;
}

/* Responsiveness */
@media screen and (max-width: 375px) {
  .social-card-container {
    width: 20.438rem;
  }
}
